@(text: String, department: String = "Channels & Concepts IT")(implicit req: RequestHeader)
    @main("Mug image generator") {

        <div class="mug_form">
        <h1>Mug image creator</h1>
        <div role="form">

        <div class="form-group">
            <label for="mug_text">Title line</label>
            <input id="mug_text" name="text" type="text" value="@text" class="form-control"/>
            <label for="mug_department">Department line</label>
            <input id="mug_department" name="department" type="text" value="@department" class="form-control"/>
        </div>
        <button onclick="loadImage();" class="btn btn-default" >Generate</button>
        <br />
        <img id="mug_image" class="mug_image" src="@routes.Application.render(text, department)">

        </div>

        </div>

        <script type="text/javascript">
          var loadImage = function() {
            var text = $("#mug_text" ).val();
            var department = $("#mug_department" ).val();
            var image_url = renderRoutes.controllers.Application.render(text, department).url;
            $("#mug_image" ).attr("src", image_url);
          };
        </script>

    }



